
:root {
  --text-dark: #333333;
  --text-light: #7da1cc;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.seller__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.seller__card {
  cursor: pointer;
}

.seller__card__details {
  padding: 1rem 0;
  background-color: var(--text-light);
  text-align: center;
}